body{
    padding: 0%;
    margin: 0%;
    background-color: ;
}

img{
    size: 20px;
    height: 100px;
    width: ;
}

.all{
    background-size: 50%;
    background-color: #f1f1fb;
    padding: 10%;
    margin: 150px;
}